@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/*Nav*/
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}
header.fixed {
    position: fixed;
    top: 0;
    width: 95%;
}
.nav-toggle {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 40px;
    margin-right: 10px;
}

.nav-menu {
    display: flex;
    z-index: 2;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
}

/*Responsive Nav*/
@media only screen and (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 3;
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}
/*Main*/
/*Bienvenido*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.left-div,
.right-div {
    flex: 1;
    overflow: hidden;
}

.left-div {
    background-color: #3C8B17;
    position: relative;
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #72DF65;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.right-div img {
    width: 100%;
    height: auto;
    display: block;
}

@media only screen and (max-width: 768px) {
    .left-div,
    .right-div {
        flex: 100%;
        max-width: 100%;
    }
    
    .content-container {
        position: relative;
        max-width: 80%;
        margin: 0px;
    }
}
/*Como funciona*/
.container-funciona {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #72DF65;
}

.container-funciona h2 {
    margin-bottom: 10px;
}

.container-funciona a {
    display: block;
    margin-bottom: 20px;
}

.container-funciona table {
    width: 100%;
    border-collapse: collapse;
}

.container-funciona th,
.container-funciona td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

.container-funciona th {
    background-color: #FFF388;
    color: #333;
    border-radius: 10px;
}
.container-funciona td{
    background-color: #FFF388;
}
.container-funciona td:first-child,
.container-funciona td:last-child {
    border-radius: 10px;
}

/* Responsividad */
@media only screen and (max-width: 768px) {
    .container-funciona table {
        font-size: 12px;
    }
}
/*Descarga*/
.descarga-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #3C8B17;
}

.descarga-info {
    max-width: 60%;
}

.descarga-info h2 {
    margin-bottom: 10px;
}

.descarga-info a {
    display: block;
    margin-bottom: 20px;
}

.store-images {
    display: flex;
    justify-content: center;
}

.store-images img {
    max-width: 100px;
    margin: 0 10px;
}
.store-images img:hover{
    transform: scale(1.1);
}
.phone-image img {
    max-width: 100%;
    margin-left: 10px;
}
@media only screen and (max-width: 768px) {
    .store-images {
        flex-direction: column;
        align-items: center;
    }

    .store-images img {
        margin: 10px 0;
    }
}
/*Testimonios*/
.testimonios-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #72DF65;
}

.testimonio {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.testimonio-item {
    background-color: #FFF388;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.testimonio-item:nth-child(even) {
    align-self: flex-end;
}

.testimonio h2 {
    text-align: center;
}

.testimonio-item a {
    display: block;
    margin-bottom: 10px;
}

.testimonio-item img {
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}
@media only screen and (max-width: 768px) {
    .testimonios-container {
        flex-direction: column;
        align-items: center;
    }

    .testimonio-item {
        width: 80%;
    }
}
/*Sobre nosotros*/
.video-container {
    text-align: center;
    padding: 20px;
    background-color: #3C8B17;
}

.video-frame {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.video-container h2 {
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    .video-frame {
        width: 80%;
    }
}
/*Preguntas frecuentes*/
.container-preguntas {
    background-color: #72DF65;
    text-align: center;
    padding: 20px;
}

.preguntas-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.preguntas-imagen {
    max-width: 100px;
    margin-right: 10px;
}

.preguntas-tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.preguntas-tabla th,
.preguntas-tabla td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}
.preguntas-tabla th{
    background-color: #FFF388;
    border-radius: 10px;
}
.preguntas-tabla td{
    background-color: #FFF388;
}
.preguntas-imagenes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.preguntas-imagenes img {
    max-width: 100px;
}
@media only screen and (max-width: 768px) {
    .preguntas-titulo {
        flex-direction: column;
        text-align: center;
    }

    .preguntas-imagen {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
/*Contactenos*/
footer {
    background-color: #3C8B17;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.contacto-item {
    text-align: center;
}

.contacto-item img {
    max-width: 50px;
    margin-bottom: 10px;
}

/* Estilos responsivos para el footer */
@media only screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .contacto-item {
        margin-bottom: 20px;
    }
}
