@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

section, section * {
  margin: 0;
  padding: 0;
  border: 0;
}

#start {
  height: 100vh;
  background-color: #3C8B17;
  color: #000000;
  position: relative;
}

#start .welcome {
  margin-top: 200px;
  margin-left: 300px;
  color: #ffffff;
  font-size: 60px;
}

#start .welcoming {
  margin-top: 50px;
  margin-left: 300px;
  color: #ffffff;
  font-size: 25px;
  font-weight: lighter;
}

.aboutProduct {
  width: 250px;
  height: 50px;
  position: absolute;
  top: 700px;
  left: 23%;
  background-color: #000000;
  text-align: center;
  font-size: large;
  color: #ffffff;
  padding-top: 20px;
  white-space: nowrap;
}

#start .logo {
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-left: 40px;
}

.logo span {
  font-size: 60px;
  margin-left: 25px;
  font-weight: bold;
}

.comida {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: url('comida.png') no-repeat center center;
  background-size: cover;
}

.comida img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#start nav {
  position: absolute;
  top: 40px;
  right: 100px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

#start nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#start nav ul li {
  margin-right: 30px;
}

#start nav .register a span {
  background-color: #000000;
  padding: 10px 20px;
  color: #ffffff;
}

#start nav a {
  text-decoration: none;
  color: #000000;
  padding: 5px;
}

#how {
  height: 100vh;
  background-color: #90DE6B;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#how h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
}

#how p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.left-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
}

.image-container {
  width: 80%;
  margin: 0 10px;
}

.image-container:first-child {
  margin-left: 30px;
}

.image-container img {
  max-width: 100%;
  display: block;
}

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box {
  text-align: left;
  margin-top: 20px;
}

.box h2 {
  font-size: 40px;
  font-weight: bold;
}

.box span {
  font-size: 36px;
}

.two {
  display: flex;
  flex-direction: column;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.image-container {
  width: 80%;
}

#download {
  height: 100vh;
  background-color: #3C8B17;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#download h1 {
  margin: 0;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

#download h2 {
  font-size: 25px;
  font-weight: lighter;
  color: #ffffff;
}

.image-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.image-container > div {
  display: inline-block;
  margin-right: 50px;
}

.image-container > div:last-child {
  margin-right: 0;
}

#download .phone {
  margin-top: 20px;
}

#download .phone img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

#testimonials {
  height: 100vh;
  background-color: #90DE6B;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#testimonials h1 {
  margin: 0;
  margin-top: 100px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 100px;
}

#testimonials .column-container {
  display: flex;
  justify-content: center;
}

#testimonials .columna-amarilla {
  background-color: #FFF388;
  width: 45%;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

#testimonials .columna-amarilla h2 {
  font-size: 25px;
  color: #000000;
}

#testimonials .columna-amarilla p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imgs {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

#aboutUs {
  height: 100vh;
  background-color: #3C8B17;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#aboutUs h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 100px;
}

#frequentQuestions {
  height: 100vh;
  background-color: #90DE6B;
  color: #000000;
}

#frequentQuestions h1 {
  margin-top: 60px;
  font-size: 60px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 60px;
}

.column-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-image {
  flex: 1;
  margin: 20px;
  margin-top: 20px;
  margin-left: 150px;
}

.column-text {
  flex: 1;
}

.yellow-rectangle {
  background-color: #FFF388;
  padding: 20px;
  margin: 100px 0;
  margin-right: 100px;
}

.yellow-rectangle h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.yellow-rectangle p {
  font-size: 16px;
  margin-bottom: 20px;
}

#contactUs {
  height: 100vh;
  background-color: #3C8B17;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#contactUs h1 {
  margin-top: 100px;
  font-size: 60px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 60px;
}

#columns-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.column {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: #3C8B17;
  margin-right: 100px;
}

.column img {
  max-width: 100%;
  height: auto;
  width: 150px;
  height: 150px;
}

.column p {
  margin-top: 10px;
  font-size: 30px;
  color: #ffffff;
}

.custom-line {
  font-size: 20px;
  color: #ffffff;
  font-weight: lighter;
  margin-top: 15px;
}